@{  
    ViewData["Title"] = "Tenders";  
}  
@model (IEnumerable<Tender> tenders, IEnumerable<TenderSupplier> tenderSupplier)

<div class="row">  
    <table class="table table-striped table-hover">  
        <thead>  
            <tr>  
                <th>Title</th>  
                <th>Bid Status</th>
                <th>Status</th>
                <th>Actions</th>  
            </tr>  
        </thead>  
        <tbody>
            @{ int index = 0; }
            @foreach (var tender in Model.tenders)  
            {  
                var currentTenderSupplier = Model.tenderSupplier.FirstOrDefault(ts => ts.TenderId == tender.TenderId);
                <tr>  
                    <td>@tender.Title</td>  
                    @if (currentTenderSupplier?.Bid is not null)
                    {
                        if(currentTenderSupplier.Bid.Status == BidStatus.Accepted)
                        {
                            <td>Accepted</td>
                        }
                        else if (currentTenderSupplier.Bid.Status == BidStatus.Rejected)
                        {
                            <td>Rejected</td>
                        }
                        else
                        {
                            <td>Pending</td>
                        }
                    }
                    else if (tender.Status == Status.Closed)
                    {
                        <td>Closed</td>
                    }
                    else if (tender.Status == Status.Cancelled)
                    {
                        <td>Cancelled</td>
                    }
                    else
                    {
                        <td>Not Bidded</td>
                    }
                    <td>@tender.Status</td>  
                    <td>
                        <a 
                            asp-controller="Tender" 
                            asp-action="Details" 
                            asp-route-tenderId="@tender.TenderId">
                            <i class="fa-solid fa-info-circle"></i>Details
                        </a>
                    </td>  
                </tr>
                index++;
            }  
        </tbody>  
    </table>  
</div>