@{
    ViewData["Title"] = "Successfull Login Page";
}
@model (LoginResult LoginResult, LoginUserDTO UserDTO)

<div class="modal fade" id="UnsuccessfullLoginModal" tabindex="-1" aria-labelledby="UnsuccesfullModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="UnsuccesfullModalLabel">Login Unsuccesfull</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model.LoginResult.Message. Close this pop-up to continue.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        // Automatically show the modal when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            var modal = new bootstrap.Modal(document.getElementById('UnsuccessfullLoginModal'));
            modal.show();

            // Redirect to home page when the modal is closed
            document.getElementById('UnsuccessfullLoginModal').addEventListener('hidden.bs.modal', function () {
                window.location.href = '/Login';
            });
        });
    </script>
}

<div class="form-signin w-100 m-auto">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Sign In</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="UserName"
                   placeholder="username"> <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="Password"
                   placeholder="Password"> <label for="floatingPassword">Password</label>
        </div>
        <div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </div>
    </form>
</div>